.box{
/*     height: 100px;
    width: 100px ;
    border: 2px solid black;
    font-size: x-large;
    font-weight: 800; */
     height: 100px;
    width: 100%;
    border: 2px solid black;
    font-size: x-large;
    text-align: center;
    display: flex;
    align-items:center ;
    font-weight: 800;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;

}
.container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

@media screen and (max-width:767px) {
    .container{
        display: grid;
/*         align-items: center;
        justify-content: center; */
/*         grid-template-columns: repeat(1,1fr); */
         grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 10px;       
    }
    .box{
        text-align: center;
        padding-top: 10%;
        height: 100px;
        text-wrap: wrap;
        width: 100% ;
        border: 2px solid black;
        font-size: x-large;
        font-weight: 800;    
    }
}
